{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'post_list'%}">My Blog</a></h1>
        <a href="{% url 'post_create' %}">Crear nuevo post</a>
    </header>
    {% if user.is_authenticated %}
        <h2>Bienvenido {{ user.username }}</h2>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar Sesion</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Iniciar Sesion</a> |
        <a href="{% url 'signup' %}">Registrarse</a>
    {% endif %}
    {% block content %}
    {% endblock content%}
</body>
</html>